<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head', {titulo: 'Repuestos', estilo: 'categories'}) %>

    <body>
        <%- include('../partials/header') %>
        <h1 class="titular">Repuestos</h1>
        <div class="grupo-articulos">
            <% for (let i = 0; i < productos.length; i++) { %>
            
                <% if (productos[i].categoria === 'repuestos') { %>
                    <a href="/productos/detalle/<%= productos[i].id %>">
                        <article>
                            <img src="/images/productos/<%= productos[i].categoria %>/<%= productos[i].imagen %>" alt="<%= productos[i].alt %>">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto"><%= productos[i].nombre %></h3>
                            </div>
                            <h4 class="precio">$<%= productos[i].precio %></h4>
                        </article>
                    </a>
                <% } %>
            <% } %>
        </div>
        <%- include('../partials/footer') %>
    </body>

</html>