<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {titulo: 'Crear producto' , estilo: 'edit-create' }) %>

    <body>
        <%- include('../partials/header', {user: locals.user ? locals.user : undefined}) %>
        <main>
            <div class="container-market">
                <h2 class="title-market">Creando un producto</h2>

                <form id="formulario" action="/productos/crear" method="POST" class="formAlert row d-flex flex-row g-2 needs-validation" enctype="multipart/form-data">
                    <div class="col-sm-6 col-12">
                        <label for="name" class="form-label">Nombre del producto:</label>
                        <input type="text" name="name" value="<%= locals.old && old.name ? old.name : "" %>" id="name" class="form-control <%= locals.errors && errors.name ? "is-invalid" : "" %>" />
                        <% if (locals.errors && errors.name) { %>
                            <div class="invalid-tooltip">
                                <%= errors.name.msg %>
                            </div>
                        <% } %>
                        <div id="div-name"></div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <label for="image" class="form-label">Imagen:</label>
                        <div class="form-control input-image">
                            <input type="file" name="image" id="image" class="form-control d-none" onchange="updateFileName(this)">
                            <button type="button" class="btn-image text-dark" id="btn-image" onclick="document.getElementById('image').click()">Seleccionar una imagen</button>
                            <span id="file-selected"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <label for="category" class="form-label">Categoría</label>
                        <select class="form-select <%= locals.errors && errors.category ? "is-invalid" : ""  %>" name="category" id="category">
                            <option <%= locals.old && old.category == "" ? "selected" : "" %> value="">...</option>
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id_category %>" <%= locals.old && old.category == category.id_category ? "selected" : "" %> ><%= category.name %></option>
                            <% }) %>
                          </select>
                        <% if (locals.errors && errors.category) { %>
                            <div class="invalid-tooltip">
                                <%= errors.category.msg %>
                            </div>
                        <% } %>
                        <div id="div-category"></div>
                    </div>
                    <div class="d-flex flex-row col-sm-6 col-12">
                        <div class="w-50">
                            <label for="price" class="form-label">Precio:</label>
                            <input type="number" name="price" value="<%= locals.old && old.price ? old.price : "" %>" id="price" class="form-control <%= locals.errors && errors.price ? "is-invalid" : "" %>" min="0" />
                            <% if (locals.errors && errors.price) { %>
                                <div class="invalid-tooltip">
                                    <%= errors.price.msg %>
                                </div>
                            <% } %>
                            <div id="div-price"></div>
                        </div>
                        <div class="w-50">
                            <label for="stock" class="form-label">Stock:</label>
                            <input type="number" name="stock" value="<%= locals.old && old.stock ? old.stock : "" %>" id="stock" class="form-control <%= locals.errors && errors.stock ? "is-invalid" : "" %>" min="0" />
                            <% if (locals.errors && errors.stock) { %>
                                <div class="invalid-tooltip">
                                    <%= errors.stock.msg %>
                                </div>
                            <% } %>
                            <div id="div-stock"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 d-flex flex-row flex-wrap">
                        <label class="col-12" for="colors">Color:</label>
                            <select name="color" id="color" class="form-select select-colors <%= locals.errors && errors.colors ? "is-invalid" : ""  %>">
                                <option <%= locals.old && old.color == "" ? "selected" : "" %> value="">---</option>
                                <% colors.forEach(color => { %>
                                    <option value="<%= color.id_color %>" <%= locals.old && old.color == color.id_color ? "selected" : "" %>><%= color.name %></option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && error.color) { %>
                                <div class="invalid-tooltip col-12">
                                    <%= error.color.msg %>
                                </div>
                            <% } %>
                            <div id="div-color"></div>
                        
                    </div>
                    <div class="col-sm-6 col-12">
                        <label for="brand" class="form-label">Marca:</label>
                        <input type="text" name="brand" value="<%= locals.old && old.brand ? old.brand : "" %>" id="brand" class="form-control <%= locals.errors && errors.brand ? "is-invalid" : "" %>" />
                        <% if (locals.errors && errors.brand) { %>
                            <div class="invalid-tooltip">
                                <%= errors.brand.msg %>
                            </div>
                        <% } %>
                        <div id="div-brand"></div>
                    </div>

                    <div class="col-sm-12 col-12">
                        <label  name="description" for="description" class="form-label">Descripción:</label>
                        <textarea class="form-control <%= locals.errors && errors.description ? "is-invalid" : "" %>" id="description" name="description" placeholder="Escribe una breve descripcion..."><%= locals.old && old.description ? old.description : "" %></textarea>
                        <% if (locals.errors && errors.description) { %>
                            <div class="invalid-tooltip">
                                <%= errors.description.msg %>
                            </div>
                        <% } %>
                        <div id="div-description"></div>
                    </div>
                    <div class="col-sm-12 m-auto mt-3">
                        <button class="btn btn-dark col-12 p-2 btnAlert" type="submit">Crear producto</button>
                    </div>
                    <div class="col-sm-12 m-auto mt-2">
                        <button class="btn btn-danger col-12 p-2" type="reset">Borrar datos</button>
                    </div>
                  </form>
            </div>
        </main>
        <%- include('../partials/footer') %>

        <script src="/js/alertEditCreate.js"></script>
        <script src="/js/validateEditCreate.js"></script>
        <script src="/js/input.js"></script>
    </body>
</html>
