<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {titulo: product.name , estilo: ['detail', 'carousel'] }) %>

    <body>
        <%- include('../partials/header', {user: locals.user ? locals.user : undefined}) %>
            <main class="mainDetail">
                <!-- 
            <nav class="sub-Section">
                <a href=""> Productos </a>
                <span class="divider"> > </span>
                <a href="">Categoria</a>
                <span class="divider"> > </span>
                <a href="">Sub-categoria</a>
            </nav> -->

                <div class="titleContainer">
                    <h2 class="nombre"><%= product.name %></h2>
                    <form>
                        <input id="heart" type="checkbox" />
                        <label for="heart"><i class="fa-solid fa-heart"></i></i></label>
                    </form>
                </div>

                <div class="section1">
                    <div class="imageContainer">
                        <img src="/images/products/<%=product.image%>"  alt="inflador" >
                    </div>

                    <div class="detailSection">

                        <div class="precio">
                            <p>$<%= thousand?thousand(product.price): product.price %></p>
                        </div>

                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(12)</span>
                        </div>

                        <div class="stockSection">
                            <p class="p-product-select">Cantidad</p>
                            <div class="cantidad">
                                <input type="number" value="1" step="1" min="1" max="<%= product.stock %>" id="number" />
                            </div>
                        </div>

                        <div class="pickColorContainer">
                            <div class="Color">
                                <p class="p-product-select">Color:</p>
                            </div>
                            <% if (product.color.id_color == 1) { %>
                                <p class="p-color" style="background-color: red;" title="Rojo"></p>
                            <% } else if (product.color.id_color == 2) { %>
                                <p class="p-color" style="background-color: blue;" title="Azul"></p>
                            <% } else if (product.color.id_color == 3) { %> 
                                <p class="p-color" style="background-color: green;" title="Verde"></p>
                            <% } else if (product.color.id_color == 4) { %> 
                                <p class="p-color" style="background-color: whitesmoke;" title="Blanco"></p>
                            <% } else if (product.color.id_color == 5) { %> 
                                <p class="p-color" style="background-color: black;" title="Negro"></p>
                            <% } else if (product.color.id_color == 6) { %> 
                                <p class="p-color" style="background-color: grey;" title="Gris"></p>
                            <% } else if (product.color.id_color == 7) { %> 
                                <p class="p-color" style="background-color: orange;" title="Naranja"></p>
                            <% } else if (product.color.id_color == 8) { %> 
                                <p class="p-color" style="background-color: yellow;" title="Amarillo"></p>
                            <% } else if (product.color.id_color == 9) { %> 
                                <p class="p-color" style="background-color: skyblue;" title="Celeste"></p>
                            <% } %>
                            
                             
                        </div>

                        <a href="/carrito">
                            <button class="btnAddToCart">
                                <i class="fa-solid fa-cart-shopping"></i> AGREGAR AL CARRITO
                            </button>
                        </a>

                        <% if (user && user.user_type && user.user_type.name=="admin") { %>
                            <a href="/productos/editar/<%= product.id_product %>">
                                <button class="btnProduct productEdit">EDITAR PRODUCTO</button>
                            </a>
                            <form class="formAlert" action="/productos/eliminar/<%= product.id_product %>?_method=DELETE" method="POST">
                                <button type="submit" class="btnProduct productDelete btnAlert">ELIMINAR PRODUCTO</button>
                            </form>
                        <% } %>

                        <div class="infoContainer">
                            <p class="available">
                                <i class="fa-solid fa-circle-check"></i> Disponible
                            </p>
                            <p>
                                <i class="fa-solid fa-truck"></i> Envío de 3 a 4 días hábiles
                            </p>
                        </div>
                        <!-- 
                        <div class="shortDescription">Tipo adaptativo para:
                            <ul class="listDescription">
                                <li>Moto</li>
                                <li>Bicicletas</li>
                                <li>Autos</li>
                            </ul>
                        </div> -->
                    </div>

                </div>
                

                <div class="acordeon">
                    <details class="productDetailContainer">
                        <summary>Detalles del producto
                            <div id="arrows">
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>

                        </summary>
                        <div class="contenido">
                            <li><strong>Marca: </strong><%= product.brand.name %></li>
                            <li><strong>Categoría: </strong><%= product.category.name %></li>
                            <p><strong>Descripción:</strong><%= product.description %>
                            </p>
                        </div>
                    </details>
                    <details class="medidasContainer">
                        <summary>Tamaño y medidas
                            <div id="arrows">
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                        </summary>
                        <div class="contenido">Mango de 23 cm. Color: Plata y negro. Base plástica 24 cm. Peso: 850 gr
                            Largo: 56 cm. 160 PSI (máximo)</div>
                    </details>
                    <!-- <details class="reseñasContainer">
                        <summary>Reseñas
                            <div id="arrows">
                                <i class="fa-solid fa-arrow-down"></i>
                            </div>
                        </summary>
                        <div class="contenido">El Inflador Giyo Bomba Taller con manómetro 160 psi amarillo es un
                            potente inflador con el que podrás inflar ruedas de cualquier tamaño y presión.
                            Especialmente indicado para inflar ruedas de bicicletas de carretera que necesitan mayor
                            presión de inflado, aunque también podrás inflar ruedas de bicicletas de montaña, bicicletas
                            infantiles, ruedas de carros, sillas de ruedas, etc…</div>
                    </details> -->

                </div>

                <div class="punctuationStars">
                    <p>Puntuá este producto:</p>
                    <form>
                        <div class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1"><i class="fa-solid fa-star"></i></label>
                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2"><i class="fa-solid fa-star"></i></label>
                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3"><i class="fa-solid fa-star"></i></label>
                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4"><i class="fa-solid fa-star"></i></label>
                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5"><i class="fa-solid fa-star"></i></label>
                        </div>
                    </form>
                    <a class="sendStars">
                        <p class="containerStars">
                            Enviar
                        </p>
                    </a>
                </div>


                <div class="prodRelacionados">
                    <div class="encabezados">
                        <% if (productsRelated && productsRelated > 0) { %>
                            <h2>Productos relacionados</h2>
                        <% } %>
                    </div>
                    <div class="grupo-articulos">
                        <div class="featured-carousel owl-carousel">
                                <% productsRelated.forEach(product=> { %>
                                    <div class="item">
                                        <div class="work">
                                            <a class="a-carrousel" href="/productos/detalle/<%= product.id_product %>">
                                                <div class="img d-flex align-items-end justify-content-center"
                                                    style="background-image: url('/images/products/<%= product.image %>');">
                                                    <div class="text w-100">
                                                        <span class="cat"><%= product.brand.name %></span>
                                                        <h3>
                                                            <%= product.name %>
                                                        </h3>
                                                        <p>$ <%= thousand?thousand(product.price): product.price %> </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <% }) %>
                            
                        </div>
                    </div>

                </div>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>