<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {titulo: 'Editar producto' , estilo: 'edit-create' }) %>

    <body>
        <%- include('../partials/header-cart', {user: user}) %>
            <main>
                <div class="container-market">
                    <h2 class="title-market">Editando <%= product.name %></h2>
                    <form class="form-market" action="/productos/editar/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" value="<%= product.name %>">
                        </div>
                        
                        <div>
                            <label for="image">Imagen:</label>
                            <input type="file" name="image" id="image">
                        </div>

                        <div>
                            <label for="category">Categoría:</label>
                            <select name="category" id="category">
                                <option value=""> Elige una categoria </option>
                                <option value="Accesorios" <%= product.category == "Accesorios" ? "selected": null %>>Acessorios</option>
                                <option value="Indumentarias" <%= product.category == 'Indumentarias' ? 'selected' : null %>> Indumentaria </option>
                                <option value="Repuestos" <%= product.category == 'Repuestos' ? 'selected' : null %>> Repuestos </option>
                                <option value="Bicicletas" <%= product.category == 'Bicicletas' ? 'selected' : null %>> Bicicletas </option>
                            </select>
                        </div>
                        
                        <div>
                            <label for="price">Precio:</label>
                            <input type="number" id="price" name="price" value="<%= product.price %>">
                        </div>
                        
                        <div>
                            <label for="stock">Stock:</label>
                            <input type="number" id="stock" name="stock" value="<%= product.stock %>">
                        </div>
                        
                        <div>
                            <label for="colors">Colores:</label>
                            <div style="display: flex; flex-direction: row;width: 100%;">
                              <select style="width: 33%;" name="color1" id="color1">
                                <option <%= (product.colors && product.colors.color1 == "") || (locals.old && locals.old.colors.color1 == "") ? "selected" : "" %> value="">---</option>
                                <% colors.forEach(color => { %>
                                    <option value="<%= color %>" <%= (product.colors && product.colors.color1 == color) || (locals.old && locals.old.colors.color1 == color) ? "selected" : "" %>><%= color %></option>
                                <% }) %>
                              </select>
                              <select style="width: 33%;" name="color2" id="color2">
                                <option <%= (product.colors && product.colors.color2 == "") || (locals.old && locals.old.colors.color2 == "") ? "selected" : "" %> value="">---</option>
                                <% colors.forEach(color => { %>
                                    <option value="<%= color %>" <%= product.colors.color2 == color ? "selected" : "" %>><%= color %></option>
                                <% }) %>
                              </select>
                              <select style="width: 33%;" name="color3" id="color3">
                                <option <%= (product.colors && product.colors.color3 == "") || (locals.old && locals.old.colors.color3 == "") ? "selected" : "" %> value="">---</option>
                                <% colors.forEach(color => { %>
                                    <option value="<%= color %>" <%= product.colors.color3 == color ? "selected" : "" %>><%= color %></option>
                                <% }) %>
                              </select>
                            </div>
                        </div>
                        
                        <div>
                            <label for="brand">Marca:</label>
                            <input type="text" id="brand" name="brand" value="<%= product.brand %>" />
                        </div>

                        <div>
                            <label for="description">Descripción:</label>
                            <textarea class="description" name="description" id="description"><%= product.description %></textarea>
                        </div>
                        
                        <div class="botones-market">
                            <button class="enviar" type="submit">Guardar Cambios</button>
                        </div>
                    </form>
                    <form class="form-delete" action="/productos/eliminar/<%= product.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="resetear">Eliminar producto</button>
                    </form>
                    <a class="crear" href="/productos/crear">Crear un Producto</a>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>