<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head', {titulo: 'Inicio', estilo: 'index'}) %>

    <body>
        <%- include('./partials/header') %>
            <nav class="banner">
                <img src="/images/banner5.jpg">
            </nav>
            <main>
                <div class="contenedor-categorias">
                    <div class="categorias">
                        <a href="/categorias/bicicletas">
                            <img src="/images/bicicletas.jpg" alt="bicicleta">
                            <h3>Bicicletas</h3>
                        </a>
                    </div>
                    <div class="categorias">
                        <a href="/categorias/accesorios">
                            <img src="/images/accesorios.webp" alt="casco, guantes, luces">
                            <h3>Accesorios</h3>
                        </a>
                    </div>
                    <div class="categorias">
                        <a href="/categorias/repuestos">
                            <img src="/images/repuestos.webp" alt="repuestos para bicicleta">
                            <h3>Repuestos</h3>
                        </a>
                    </div>
                    <div class="categorias">
                        <a href="/categorias/indumentaria">
                            <img src="/images/indumentaria.jpg" alt="ropa de ciclismo">
                            <h3>Indumentaria</h3>
                        </a>
                    </div>
                </div>
                <div class="seccion-productos">
                    <div class="encabezados">
                        <h2>¡Productos nuevos!</h2>
                        <a href="#">BUSCAR PRODUCTOS</a>
                    </div>
                    <div class="grupo-articulos">
                       
                        <% productos.forEach(producto => { %>
                            <a href="/productos/detalle/<%= producto.id %>">
                                <article>
                                    <img src="/images/productos/<%= producto.categoria %>/<%= producto.imagen %>" alt="<%= producto.alt %>">
                                    <div class="detalles-producto">
                                        <h3 class="nombre-producto"><%= producto.nombre %></h3>
                                    </div>
                                    <h4 class="precio">$<%= producto.precio %></h4>
                                </article>
                            </a>
                        <% }) %>
                </div> 
                <div class="anuncio-promo">
                    <div class="textos">
                        <h2 class="super-promo">Super Promo</h2>
                        <h3 class="descuento">50%</h3>
                        <h4 class="productos-seleccionados">de descuento en productos<br>seleccionados</h4>
                    </div>
                    <div class="imagen-sale">
                        <img src="/images/ofertas.avif" alt="cartel de SALE(oferta)">
                        <a href="#">VER AHORA</a>
                    </div>
                </div>
                <div class="seccion-productos">
                    <div class="encabezados">
                        <h2>Productos destacados</h2>
                        <a href="#" class="explorar-productos">EXPLORAR PRODUCTOS</a>
                    </div>
                    <div class="grupo-articulos">
                        <% productos.forEach(producto => { %>
                            <a href="/productos/detalle/<%= producto.id %>">
                                <article>
                                    <img src="/images/productos/<%= producto.categoria %>/<%= producto.imagen %>" alt="<%= producto.alt %>">
                                    <div class="detalles-producto">
                                        <h3 class="nombre-producto"><%= producto.nombre %></h3>
                                    </div>
                                    <h4 class="precio">$<%= producto.precio %></h4>
                                </article>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </main>

         <%- include('./partials/footer') %>
    </body>

</html>