<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {titulo: 'Inicio' , estilo: 'index' }) %>

    <body>
        <%- include('./partials/header', {user: locals.user ? locals.user : undefined}) %>
            <nav class="banner">
                <img src="/images/banner5.jpg">
            </nav>
            <main>
                <div class="contenedor-categorias">
                    <a href="/categorias/bicicletas">
                        <div class="categorias div-bici">
                            <h3>Bicicletas</h3>
                        </div>
                    </a>
                    <a href="/categorias/accesorios">
                        <div class="categorias div-acc">
                            <h3>Accesorios</h3>
                        </div>
                    </a>
                    <a href="/categorias/repuestos">
                        <div class="categorias div-rep">
                            <h3>Repuestos</h3>
                        </div>
                    </a>
                    <a href="/categorias/indumentaria">
                        <div class="categorias div-ind">
                            <h3>Indumentaria</h3>
                        </div>
                    </a>
                </div>
                <div class="seccion-productos">
                    <div class="encabezados">
                        <h2>¡Productos nuevos!</h2>
                        <a href="#">BUSCAR PRODUCTOS</a>
                    </div>
                    <div class="grupo-articulos">
                        <% products.forEach(product=> { %>
                            <a href="/productos/detalle/<%= product.id_product %>">
                                <article>
                                    <div class="img-producto">
                                        <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                                    </div>
                                    <div class="detalles-producto">
                                        <h3 class="nombre-producto">
                                            <%= product.name %>
                                        </h3>
                                    </div>
                                    <div class="precio-producto">
                                        <h4 class="precio">$<%= product.price %>
                                        </h4>
                                    </div>
                                </article>
                            </a>
                            <% }) %>
                    </div>
                    <div class="anuncio-promo">
                        <div class="textos">
                            <h2 class="super-promo">Super Promo</h2>
                            <h3 class="descuento">50%</h3>
                            <h4 class="productos-seleccionados">de descuento en productos<br>seleccionados</h4>
                        </div>
                        <div class="imagen-sale">
                            <img src="/images/ofertas.avif" alt="cartel de SALE(oferta)">
                            <a href="#">VER AHORA</a>
                        </div>
                    </div>
                    <div class="seccion-productos">
                        <div class="encabezados">
                            <h2>Productos destacados</h2>
                            <a href="#" class="explorar-productos">EXPLORAR PRODUCTOS</a>
                        </div>
                        <div class="grupo-articulos">
                            <% products.forEach(product=> { %>
                                <a href="/productos/detalle/<%= product.id_product %>">
                                    <article>
                                        
                                        <div class="img-producto">
                                            <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                                        </div>
                                        <div class="detalles-producto">
                                            <h3 class="nombre-producto">
                                                <%= product.name %>
                                            </h3>
                                        </div>
                                        <div class="precio-producto">
                                            <h4 class="precio">$<%= product.price %>
                                            </h4>
                                        </div>
                                    </article>
                                </a>
                                <% }) %>
                        </div>
                    </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>