<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {titulo: 'Inicio' , estilo: ["index","carousel"] }) %>

    <body>
        <%- include('./partials/header', {user: locals.user ? locals.user : undefined}) %>
            <nav class="banner">
                <div class="hero featured-carousel featured-banner owl-carousel">
                    <div class="item">
                        <div class="work">
                            <div class="img img-banner d-flex align-items-center justify-content-center" style="background-image: url(/images/banner1.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img img-banner d-flex align-items-center justify-content-center" style="background-image: url(/images/banner2.jpg);">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img img-banner d-flex align-items-center justify-content-center" style="background-image: url(/images/banner3.jpg);">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img img-banner d-flex align-items-center justify-content-center" style="background-image: url(/images/banner4.jpg);">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img img-banner d-flex align-items-center justify-content-center" style="background-image: url(/images/banner5.jpg);">

                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <main>
                <div class="seccion-productos">
                    <div class="encabezados">
                        <h2>Todos los productos</h2>
                    </div>
                    <div class="grupo-articulos">
                        <div class="featured-carousel owl-carousel">
                            <% productsAll.forEach(product=> { %>
                                <div class="item">
                                    <div class="work">
                                        <a class="a-carrousel" href="/productos/detalle/<%= product.id_product %>">
                                            <div class="img d-flex align-items-end justify-content-center"
                                                style="background-image: url('/images/products/<%= product.image %>');">
                                                <div class="text w-100">
                                                    <span class="cat"><%= product.category.name %></span>
                                                    <h3>
                                                        <%= product.name %>
                                                    </h3>
                                    
                                                    <p>$ <%= thousand?thousand(product.price): product.price %>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
                <div class="anuncio-promo">
                    <div class="textos">
                        <h2 class="super-promo">Super Promo</h2>
                        <h3 class="descuento">50%</h3>
                        <h4 class="productos-seleccionados">de descuento en productos<br>seleccionados</h4>
                    </div>
                    <div class="imagen-sale">
                        <img src="/images/ofertas.avif" alt="cartel de SALE(oferta)">
                        <a href="#">VER AHORA</a>
                    </div>
                </div>

                <div class="seccion-productos">
                    <div class="site-section bg-left-half mb-4 mt-5">
                        <div class="container owl-2-style">
                            <h2 style="text-align: center;">Categorías</h2>
                            <div class="owl-carousel owl-2">
                                <div class="media-29101">
                                    <a class="a-owl-2" href="/categorias/bicicletas">
                                        <div class="img-fluid">
                                            <img src="/images/categories/bicicletas.jpg" alt="Image">
                                        </div>
                                        <h3 style="text-align: center;">Bicicletas</h3>
                                    </a>
                                </div>
                                <div class="media-29101">
                                    <a class="a-owl-2" href="/categorias/accesorios">
                                        <div class="img-fluid">
                                            <img src="/images/categories/accesorios.jpg" alt="Image">
                                        </div>
                                        <h3 style="text-align: center;">Accesorios</h3>
                                    </a>
                                </div>
                                <div class="media-29101">
                                    <a class="a-owl-2" href="/categorias/repuestos">
                                        <div class="img-fluid">
                                            <img src="/images/categories/repuestos.jpg" alt="Image">
                                        </div>
                                        <h3 style="text-align: center;">Repuestos</h3>
                                    </a>
                                </div>
                                <div class="media-29101">
                                    <a class="a-owl-2" href="/categorias/indumentarias">
                                        <div class="img-fluid">
                                            <img src="/images/categories/indumentarias.jpg" alt="Image">
                                        </div>
                                        <h3 style="text-align: center;">Indumentarias</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="seccion-productos">
                    <div class="encabezados">
                        <h2>¡Productos nuevos!</h2>
                    </div>
                    <div class="grupo-articulos">
                        <div class="featured-carousel owl-carousel">
                            <% productsNews.forEach(product=> { %>
                                <div class="item">
                                    <div class="work">
                                        <a class="a-carrousel" href="/productos/detalle/<%= product.id_product %>">
                                            <div class="img d-flex align-items-end justify-content-center"
                                                style="background-image: url('/images/products/<%= product.image %>');">
                                                <div class="text w-100">
                                                    <span class="cat"><%= product.category.name %></span>
                                                    <h3>
                                                        <%= product.name %>
                                                    </h3>
                                                    <p>$ <%= thousand?thousand(product.price): product.price %>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>