<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {titulo: 'Iniciar Sesión' , estilo: 'login' }) %>

  <body>
    <%- include('../partials/header-user') %>
      <main>
        <div class="container">
          <h2>Te damos la bienvenida</h2>

          <form action="/login" method="POST" class="row d-flex flex-row g-1 needs-validation">
            <div class="col-sm-6 col-12">
                <label for="email" class="form-label">Correo electrónico:</label>
                <input type="email" id="email" name="email" value="<%= locals.old ? old.email : null %>" class="form-control <%= locals.errors && errors.email ? "is-invalid" : "" %>" />
                <% if (locals.errors && errors.email) { %>
                    <div class="invalid-feedback">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-6 col-12">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" name="password" class="form-control <%= locals.errors && errors.password ? "is-invalid" : locals.old && old.password ? "border-black" : "" %>" id="password" />
                <% if (locals.errors && errors.password) { %>
                    <div class="invalid-feedback">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-6 col-12 g-2">
              <label class="checkRemember" name ="rembember">Recordar Usuario</label>
              <input type="checkbox" class="check" id="rembember" name="rembember">
            </div>
            <div>
                <button class="btn btn-dark g-2 col-12 p-2 mt-3" type="submit">Iniciar sesión</button>
            </div>

            <div class="d-flex g-2">
              <button class="col-6 btn btn-primary p-2 facebook">Continuar con Facebook</button>
              <button class="col-6 btn btn-danger p-2 google">Continuar con Google</button>
            </div>
          </form>
        </form>

          <p class="forgot-password"><a href="#">¿Olvidaste tu contraseña?</a></p>

      

          <p class="register-link">¿Aún no tienes una cuenta? <a href="/register">Regístrate</a></p>
        </div>
      </main>

  </body>

</html>