<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {titulo: 'Registro Isabel Bicicleteria' , estilo: 'register' }) %>

  <body>
    <%- include('../partials/header-user') %>
      <main>
        <div class="container">
          <h2>Crea tu cuenta</h2>

          <form action="/register" method="POST" class="row d-flex flex-row g-2 needs-validation" enctype="multipart/form-data">
            <div class="col-sm-6 col-12">
                <label for="name" class="form-label">Nombre y Apellido:</label>
                <input type="text" name="name" value="<%= locals.old ? old.name : null %>" id="name" class="form-control <%= locals.errors && errors.name ? "is-invalid" : "" %>" />
                <% if (locals.errors && errors.name) { %>
                    <div class="invalid-feedback">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-6 col-12">
                <label for="birth" class="form-label">Fecha de nacimiento:</label>
                <input type="date" id="birth" name="birth" value="<%= locals.old ? old.birth : null %>" class="form-control <%= locals.errors && errors.birth ? "is-invalid" : "" %>" />
                <% if (locals.errors && errors.birth) { %>
                    <div class="invalid-feedback">
                        <%= errors.birth.msg %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-6 col-12">
                <label for="email" class="form-label">Correo electrónico:</label>
                <input type="email" id="email" name="email" value="<%= locals.old ? old.email : null %>" class="form-control <%= locals.errors && errors.email ? "is-invalid" : "" %>" />
                <% if (locals.errors && errors.email) { %>
                    <div class="invalid-feedback">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-6 col-12">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" name="password" class="form-control <%= locals.errors && errors.password ? "is-invalid" : locals.old && old.password ? "border-black" : "" %>" id="password" />
                <% if (locals.errors && errors.password) { %>
                    <div class="invalid-feedback">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-12">
                <label for="avatar" class="form-label">Foto de perfil:</label>
                <input type="file" name="avatar" id="avatar" class="form-control <%= locals.errors && errors.avatar ? "is-invalid" : locals.old && old.avatar ? "border-black" : ""  %>" />
                <% if (locals.errors && errors.avatar) { %>
                    <div class="invalid-feedback">
                        <%= errors.avatar.msg %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-12 g-3">
                <button class="btn btn-dark col-12 p-2" type="submit">Crear cuenta</button>
            </div>

            <div class="d-flex g-3">
              <button class="col-6 btn btn-primary p-2 facebook">Continuar con Facebook</button>
              <button class="col-6 btn btn-danger p-2 google">Continuar con Google</button>
            </div>
          </form>

          <p class="login-link">¿Ya tienes cuenta? <a href="/login">Iniciar Sesión</a></p>
        </div>
      </main>

  </body>

</html>